

body {
  font-size:22px;
  line-height:1.8;
  margin:0 5px;
  font-family: 'lucida grande', 'helvetica neue', helvetica, sans-serif;
  color:#000;
  background:#fff;
}

#container {
  max-width:900px;
  margin:0 auto;
}
#container img {
  max-width:900px;
}

h1, h2, h3 {
  font-family:georgia, 'bitstream vera sans serif', 'lucida grande',
    helvetica, verdana, sans-serif;
  font-weight:normal;
  color:#000;
}
i, em {
  font-style:italic;
}
b, strong {
  font-weight:bold;
  color:#000;
}
blockquote {
  color:#444;
}
blockquote em {
  color:#222;
  font-style:italic;
}
blockquote strong {
  color:#111;
  font-weight: normal;
}
dt {
  font-weight:bold;
}
tt, pre, code, samp, kbd {
  font-family: 'menlo', consolas, 'lucida console', 'bitstream vera sans mono',
    'courier new', monospace;
}
pre {
  color:#333;
  background-color:#f9f9f9;
}
code {
  color:#007A00;
}
pre code {
  color:inherit;
}

/* TYPOGRAPHY */

p, ul, ol, dl, pre, blockquote, table, form {
  margin:30px 0;
}
hr {
  color:#eee;
  background-color:#ccc;
  border:0;
  height:1px;
  margin:45px 0;
}
blockquote {
  font-size:18px;
  line-height:2.0;
  margin:30px 75px 30px 50px;
  padding:0;
}
tt, pre, code, samp, kbd {
  font-size:18px;
  line-height:1.2;
}
pre {
  margin:20px 0;
  padding:10px 5px 10px 15px;
  border:1px solid #eee;
  border-left-width:20px;
  overflow:auto;
}
h1 {
  font-size:62px;
  line-height:1.1;
  margin:60px 0;
  letter-spacing:-1px;
  position:relative;
}
h2 {
  font-size:38px;
  line-height:1.1;
  margin:30px 0;
}
h3 {
  font-size:38px;
  line-height:1.1;
  margin:40px 0;
}
h4 {
  font-size:30px;
  font-weight:bold;
  line-height:1.5;
  margin:1em 0;
}

/* Tables
--------------------------------------------------------------------------- */

table {
  width:100%;
  border-style:none;
  border-color:#ddd;
  padding:0;
}

th, td {
  padding: 4px 10px 4px 5px;
  border-style:solid;
  border-color:#fff;
}

th {
  font-weight: bold;
  background: #eef;
}

td {
  background: #f9f9f9;
}

tfoot {
  font-style: italic;
}

caption {
  background: #eee;
}

/* Header / Titling
--------------------------------------------------------------------------- */

#header {
  text-align:center;
  margin:50px 0 30px 0;
}
#header h1 a, #header h1 a:link, #header h1 a:visited, #header h1 a:hover {
  color:#000;
  text-decoration:none;
  background:transparent;
}
#header p {
  line-height:1.4;
  margin: 0;
  color: #444;
  font-variant:small-caps;
}
#header .email, #header .site {
  text-transform:none;
  font-variant:normal;
}

/* BOOKMARK CONTENT */
#content.bookmark #body .link a {
  display:block;
  text-decoration:none;
  text-align:center;
}

/* WRITINGS INDEX */
#writings .index .entry {
  float:left;
  width:100%;
  margin:15px 30px 15px 30px;
  clear:left;
}
#writings .index .published {
  width:150px;
  text-align:right;
  color:#818283;
  margin:0;
}
#writings .index h3 {
  display:block;
  margin:0 100px 0 200px;
}

/* POSTINGS */
.posting h1 {
  margin:0;
}
.posting #header {
  margin:75px 0;
}

/* COMMENTS */

ol.comments {
  padding-left:25px;
}
ol.comments > li {
  margin:50px 0;
}
ol.comments > li:first-child {
  margin-top:0;
}
ol.comments h3 {
  color:#555;
}
ol.comments h3 .commentor {
  font-family: corbel, 'lucida grande', helvetica, sans-serif;
}
ol.comments .comment-meta {
  font-size:15px;
  line-height:1.6667;
  text-align:right;
  color:#555;
}
ol.comments .commentor {
  color:#000;
  background:#fff;
}

/* FOOTER */

#footer {
  clear:both;
  font-size:0.75em;
  line-height:1.5625;
  border-top:1px solid #ddd;
  padding:19px 0 0 0;
  margin:40px 0 20px 0;
  text-align:center;
}
#footer p {
  margin:0;
}
#footer form {
  float:right;
}
#footer input{
  font-size:10px;
}

/* MISC HELPER STYLES */

p small, p.note, .intro {
  font-size:0.8333333em;
  line-height:1.85;
  color:#555;
  margin:1.45em 0;
}
ul.clean, ol.clean {
  list-style-type: none;
  padding-left: 0;
}
.caps {
  font-variant:small-caps;
}
.clear {
  clear:both;
}
.left{
  float:left;
}
.right{
  float:right;
}
.intro {
  border:1px solid #ccc;
  padding:20px;
  font-style:italic;
}

.condensed dt {
  float:left;
  width:140px;
  text-align:right;
  padding-right:30px;
}
.condensed dd {
  margin-left:190px;
}

/* RESUME */

.chrono h3 {
  margin-bottom:0;
}
.chrono p.period {
  text-align:right;
  font-weight:bold;
}
.chrono p.biz {
  float:left;
}
.chrono .stuff {
  clear:all;
}
.chrono li li {
  list-style-type:disc;
}
@media print {
  .chrono p.biz a {
    font-weight:bold;
  }
}

/* ABOUT */

.about img.me {
  float:left;
  border:2px solid rgba(0, 0, 0, 0.3);
  border-radius:2px;
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
  margin:-2px 30px 25px 0;
}
.about h1 {
  margin:100px 0;
  line-height:1;
  font-size:100px;
  color:#000;
  text-shadow:-1px 0 0 rgba(0, 0, 0, 0.5);
  letter-spacing:-3px;
}
.about h2 {
  clear:left;
  margin-top:125px;
}
.about .overview {
  margin:75px 0 75px 300px;
}
.about .twitter-follow-button {
  position:relative;
  top:5px;
}
.about .follow-me a {
  text-decoration:none;
  color:#000;
}
.post-list dd {
  font-weight:bold;
}
.post-list dt {
  font-weight:normal;
  color:#444;
  font-size:0.8333em;
  line-height:2.2;
}

.error-page h1 {
  font-size:200px;
  line-height:1;
  margin:50px 0 100px 0;
}

/* PRETTIFICATION OF SOURCE CODE */

.str { color: #181; font-style:italic; }
.kwd { color: #369; }
.com { color: #666; }
.typ { color: #c40; }
.lit { color: #900; }
.pun { color: #000; font-weight: bold; }
.pln { color: #333; }
.tag { color: #369; font-weight: bold; }
.atn { color: #939; font-weight: bold }
.atv { color: #181; }
.dec { color: #606; }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}

/* vim: set ft=css ts=4 sw=4 noexpandtab: */